aiopg==1.4.0
asgiref==3.8.1
astroid==3.3.8
async-timeout==4.0.3
cfgv==3.4.0
channels>=4.0.0
channels_postgres==1.0.5
click==8.1.8
confluent-kafka==2.7.0
dill==0.3.9
distlib==0.3.9
Django<=5.0.0
django-adminlte3==0.1.6
django-cors-headers==4.6.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.8
filelock==3.16.1
h11==0.14.0
identify==2.6.4
inflection==0.5.1
mccabe==0.7.0
msgpack==1.0.8
mypy-extensions==1.0.0
nodeenv==1.9.1
numpy==2.2.1
packaging==24.2
pandas==2.2.3
pathspec==0.12.1
platformdirs==4.3.6
pre_commit==4.0.1
psycopg2-binary==2.9.10
pycodestyle==2.12.1
pyflakes==3.2.0
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
ruff==0.8.4
six==1.17.0
sqlparse==0.5.3
tomli==2.2.1
tomlkit==0.13.2
typing_extensions==4.12.2
tzdata==2024.2
uritemplate==4.1.1
uvicorn==0.34.0
virtualenv==20.28.0
whitenoise==6.4.0
